<h2>Recommended City </h2>

<p>Best City: <%= @recommended_city %></p>

<table style="width:100%">
  <caption> All cities weather</caption>
  <% for weather in @weather_all_cities %>
  <tr>
    <th>City:<%=weather["city"] %></th>
    <td>Weather Conition:<%= weather["main"] %></td>
    <td>Weather Details: <%= weather["description"] %></td>
    <td>Temperature: <%= weather["temp"] %> degs</td>
    <td>Humidity: <%= weather["humidity"] %>%</td>
    <td>Pressure: <%= weather["pressure"] %> hPa </td>
  </tr>
 
  <% end %>
</table>
